.section-subtitle {
    text-align: center;
    justify-content: center;
    line-height: 34px;
    font-size: 24px;
    font-weight: 400;
    width: 60%;
    margin: 20px auto 0;
    z-index: 16;
  }