.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
}

.description {
  display: flex;
}

.header_logo_place {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 100;
  size: 64px;
  margin-top: 30px;
}

.flex-column {
  display: flex;
}

.header__title {
  margin: auto;
}

.h1_header_title {
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  margin-left: 64px;;
  width: 730px;
  z-index: 99;
}

.subtitle {
  position: absolute;
  bottom: 30px;
  left: 64px;
  width: 388px;
  z-index: 98;
}

.header__subtitle {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__subtitle_link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 97;
}

.main-illustration {
  width: 765px;
  height: 608px;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: 95;
}

/**.table {
  margin: 100px auto;
  min-width: 784px;
  width: 80%;
  display: flex;
  border: 1px solid red;
}

.table_two-columns_brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  text-align: left;
  vertical-align: top;
}

.table_two-columns_main-text {
  border: 1px solid green;
}

.table_two-columns_paragraph{
  border: 1px solid blue;
  text-align: left;
  font-weight: normal;
}**/

.span-accent {
  font-weight: bold;
}

.digits {
  margin: 100px auto;
  width: 1100px;
}

.digits__section-title {
  display: flex;
  justify-content: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 0;
}

.digits__section-subtitle {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.digits__table {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-top: 60px;
}

.table_cell {
  width:  250px;
}

.table_cell_heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table_cell_text {
  margin-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feynman {
  background-color: #f2f2f2;
  position: relative;
}

.feynman__title {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 648px;
  z-index: 80;
  padding-top: 100px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  text-align: center;
}

.feynman__subtitle {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  z-index: 79;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  z-index: 78;
  position: absolute;
  top: 50%;
  right: 48px;
  text-decoration: none;
  color: #2f80ed;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman_image {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 867px;
  height: 637px;
  z-index: 77;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
